#divs{
width: 1650px;
height: 1000px;
display: flex;


}
#Enter{
width: 700px;
height: 500px;
border: 3px black solid; 
position: relative ;
left: 400px;
top: 200px;
font-size: 20px;
border-radius: 40px;
background-color: whitesmoke;
}

#userName{
position: relative;
width: 350px;
height: 50px;
left: 150px;
border-radius: 4px;
border:  black solid;
font-size: 20px;
top: -200px;


}

#password{
position: relative;
width: 350px;
height: 50px;
left: 150px;
font-size: 20px;
border-radius: 4px;
border:  black solid;
top: -200px;
}

#sodoku{
position: relative;
left: 260px;

}

#click{
position: relative;
left: 150px;
width: 360px;
height: 70px;
background-color: black;
color: white;
font-size: 30px;
}

#pageTitle{
position: relative;
left: 900px;
font-size: 100px;
color: red;

}

body{
    background-image: url("sudoku.jpg");
}
#title{
    text-align: center;
}
a{
    position: relative;
    left: 30px;
    top: 30px;
    font-size: 50px;
    text-decoration: none;
    color: black;
}
